---

stackdriver_tools_uri: https://github.com/cloudfoundry-community/stackdriver-tools.git
stackdriver_tools_branch: master

service_account_key_json: replace-me
gcp_project_id: replace-me
domain_name: replace-me
resources_bucket_name: replace-me
bbl-state-bucket: replace-me
bbl_env_name: replace-me
load_balancer_cert: replace-me
load_balancer_key: replace-me

firehose_endpoint: replace-me-after-env-up
firehose_username: replace-me-after-env-up
firehose_password: replace-me-after-env-up
